{% extends "layout.jinja2" %}
{% block content %}

<div class="div-main-about-wrapper">

  <div class="div-container">

    <div class="div-img-tweet-photo">
      <img class="img-tweet-photo" src="https://pbs.twimg.com/profile_images/852613433648226306/o7MX1Fsx_400x400.jpg" alt="" />
    </div>

    <div class="div-tweet-header">
      <p>
        <a href="https://twitter.com/ItsMrBanzai">
      <strong>James Feore</strong><span class="span-header">
      @itsmrbanzai</a> June 14th</span>
      </p>
    </div>

    <div class="div-tweet-body">
      <p>Software developer, community manager, and Army vet. I manage @Banzaibabee's stream and serve as the Assistant Director of @SeattleOBA.</p>
    </div>

  </div>

  <div class="div-container">

    <div class="div-img-tweet-photo">
      <img class="img-tweet-photo" src="https://pbs.twimg.com/profile_images/847917472770473986/lq6V7mfP_400x400.jpg" alt="" />
    </div>

    <div class="div-tweet-header">
      <p>
        <a href="https://twitter.com/nametaken1986">
      <strong>Miguel Pena</strong>
        <span class="span-header">
        @nametaken1986
        </a> June 14th</span>
      </p>
    </div>

    <div class="div-tweet-body">
      <p>Software developer who enjoys making things that make people say "How did I ever get by without this?"</p>
    </div>

  </div>
  </br>

  <div class="div-container">

    <div class="div-img-tweet-photo">
      <img class="img-tweet-photo" src="https://pbs.twimg.com/profile_images/864608747666026496/BQVKZo2W_400x400.jpg" alt="" />
    </div>

    <div class="div-tweet-header">
      <p>
        <a href="https://twitter.com/elyanil.castro">
      <strong>Elyanil Castro</strong><span class="span-header"> @elyanil.castro </a> June 14th</span>
      </p>
    </div>

    <div class="div-tweet-body">
      <p>I'm an iOS developer that occasionally works with Python.</p>
    </div>

  </div>

  <div class="div-container">

    <div class="div-img-tweet-photo">
      <img class="img-tweet-photo" src="https://pbs.twimg.com/profile_images/873660673330364417/aJiMSeCl_400x400.jpg" alt="" />
    </div>

    <div class="div-tweet-header">
      <p>
        <a href="https://twitter.com/realdlim">
      <strong>David Lim</strong>
        <span class="span-header">
        @realDLim</a> June 14th
        </span>
      </p>
    </div>

    <div class="div-tweet-body">
      <p>I'm a web and software developer with a background in military service and law enforcement.</p>
    </div>

  </div>

</div>

{% endblock content %}
