<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('turingtweets:static/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ request.static_path('turingtweets:static/about.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <meta charset="utf-8">
    <title>Make Twitter Great Again | {{ page }}</title>
</head>
    <body>
      <div class="div-header">
        <div class="div-header-red">
          <h1 class="white-text h1-title-header">
          Make Twitter Great Again
          </h1>
        </div>
      </div>
      <main>
        {% block content %}{% endblock %}

        <div class="div-submit">
            <input class="button" type="button" value="Try Again?" />
        </div>

        <div class="div-nav">
          <nav>
            <a href="/">Home</a> | <a href="/about">About</a> | <a href="mailto:turingtrump@gmail.com">Contact</a>
          </nav>
        </div>
      </main>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="{{ request.static_path('turingtweets:static/js/app.js') }}"></script>
      <script type="text/javascript">setFakeTweet()</script>
    </body>
</html>
