{% extends "layout.jinja2" %}
{% block content %}
    <section class="div-two-tweets">

        <div class="div-left-tweet">
            <a href="#">
                {{ real }}
            </a>
        </div>

        <div class="div-right-tweet">
            <a href="#">
                {{ fake }}
            </a>
        </div>

    </section>
{% endblock content %}
