{% extends "layout.jinja2" %}

{% block content %}



<section class="div-two-tweets">

<div class="div-left-tweet">
  <a href="#">
    <img src="http://www.placehold.it/500x200" alt="" />
  </a>
</div>

<div class="div-right-tweet">
  <a href="#">
    <img src="http://www.placehold.it/500x200" alt="" />
  </a>
</div>

</section>



{% endblock content %}
